<!DOCTYPE html>

<head>
  <title>runsala</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}runsala.css">
</head>

<body>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav tabs">
          {% for repository in repositories %}
          <li data-repository="{{ repository.name }}">
            <a href="/">{{ repository.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <ul class="nav pull-right">
          <li><a href="{% url 'settings' %}">Settings</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% if user.is_superuser %}
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Admin <b class="caret"></b>
            </a>
            <ul class="dropdown-menu admin">
              <li class="new-repository">
                <a href="#"><i class="icon-new"></i> New repository</a>
              </li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}runsala.js"></script>
</body>
